<!-- src/main/resources/templates/fragments/header.html -->
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: #{app.name}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<div th:fragment="headerFragment">
    <header>
        <a th:href="@{/}">
            <img th:src="@{/img/logo.png}" th:title="#{app.logo.title}" />
        </a>
        <nav>
            <ul>
                <li><a th:href="@{/categorias/listar}" th:text="#{menu.categorias}"></a></li>
                <li><a th:href="@{/produtos/listar}" th:text="#{menu.produtos}"></a></li>
            </ul>
            <div>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="?lang=pt_BR">BR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?lang=en">EN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
