<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Nova Categoria</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:insert="~{fragments/header :: headerFragment}"></div>
<main>
  <h2>Nova Categoria</h2>
  <form th:action="@{/categorias/salvar}" th:object="${categoria}" method="post">
    <div>
      <label for="nome">Nome da Categoria:</label>
      <input type="text" id="nome" th:field="*{nome}" />
      <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
  </form>
  <br>
  <a th:href="@{/categorias/listar}">Voltar para a lista de categorias</a>
</main>

<div th:insert="~{fragments/footer :: footerFragment}"></div>
</body>
</html>
