<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<main>
    <h2>Produtos</h2>

    <a th:href="@{/produtos/novo}">Novo Produto</a>

    <div class="card-container">
        <div class="card" th:each="prod : ${listaProdutos}">
            <div class="card-image">
                <img th:if="${prod.imagem != null}"
                     th:src="'data:image/jpeg;base64,' + ${prod.imagem}"
                     alt="Imagem do produto" />
            </div>
            <div class="card-content">
                <h3 th:text="${prod.nome}"></h3>
                <p><strong>Preço:</strong> <span th:text="${prod.preco}"></span></p>
                <p><strong>Descricao:</strong> <span th:text="${prod.descricao}"></span></p>
                <p><strong>Categoria:</strong>
                    <span th:text="${prod.categoria.nome}"></span>
                </p>
            </div>
            <div class="card-actions">
                <a th:href="@{|/produtos/editar/${prod.id}|}">Editar</a>
                <a th:href="@{|/produtos/excluir/${prod.id}|}"
                   onclick="return confirm('Deseja excluir este produto?');">Excluir</a>
            </div>
        </div>
    </div>

</main>


<div th:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>
